.form-container{
    margin-left: 15px;
    padding-top: 15px;
}



@media(max-width:'800px'){
    .secondary-buttons{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap:50px
    }

}